<mat-toolbar color="primary" class="top-bar mat-elevation-z10">
  <mat-toolbar-row>
    <img class="trm-logo" src="assets/trm-logo.png" />
    <button mat-button>Training Managment</button>
    <button (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="align-right">
      <a mat-button routerLink="/account"> Account </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="mat-elevation-z8" opened>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      class="no-box-shadow"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>dashboard</mat-icon>
          Training Center
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list-item>
        <mat-nav-list>
          <a mat-list-item routerLink="courses"> Courses </a>
        </mat-nav-list>
      </mat-list-item>
    </mat-expansion-panel>
  </mat-sidenav>
  <mat-sidenav-content class="page-wrapper">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
