:host {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-image: url('~/assets/images/login-bg-1.jpg');
  background-size: cover;
}

.login-page {
  height: 100vh;
  display: flex;
  background-size: cover;
  align-items: center;
}

mat-card {
  width: 370px;
}

mat-card-content {
  flex-direction: column;
}

.edx-logo {
  display: flex;
  justify-content: center;
  img {
    padding: 15px;
    width: 260px;
  }
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: center;
  button {
    width: 220px;
  }
}

.separator {
  position: relative;
  color: rgba(0, 0, 0, 0.2);
  font-size: 15px;
  font-weight: bold;
  margin: 24px auto;
}

.separator .text:before {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  left: calc(-100% - 15px);
  top: 6px;
  border-top: 3px solid;
}

.separator .text::after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  right: calc(-100% - 15px);
  top: 6px;
  border-top: 3px solid;
}
