<mat-toolbar color="primary" class="top-bar mat-elevation-z5">
  <mat-toolbar-row>
    <div class="navbar-logo">
      <img class="trm-logo" src="assets/eduxim.white.logo.png" />
    </div>

    <button (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="align-right">
      <button mat-icon-button [matMenuTriggerFor]="notificationsMenu">
        <mat-icon>message</mat-icon>
      </button>
      <mat-menu #notificationsMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>speaker_notes</mat-icon>
          <span>Very important stuff 1</span>
        </button>
        <button mat-menu-item>
          <mat-icon>speaker_notes</mat-icon>
          <span>Very important stuff 2</span>
        </button>
        <button mat-menu-item>
          <mat-icon>speaker_notes</mat-icon>
          <span>Very important stuff 3</span>
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <img alt="user" class="avatar" src="assets/images/default-user.png" />
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_box</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
