:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  & > div {
    display: flex;
    flex: 1;
    height: 100%;

    .master-panel,
    .detail-panel {
      flex: 1;
    }
  }
}
