:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-card {
    margin: 10px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  & > div {
    display: flex;
    flex: 1;
    height: 100%;

    .master-panel,
    .detail-panel {
      flex: 1;
      margin: 10px;
    }
  }
}

edx-refblock-detail,
edx-refblock-list-item {
  margin: 0 0 0px 10px;
}

.detail-panel {
  .empty-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 20px;
    height: 250px;
    border: 10px rgba(0, 0, 0, 0.4) dashed;

    h2 {
      text-align: center;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
