<mat-toolbar>
  <mat-toolbar-row>
    <div class="align-right">
      Training Center > Courses
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content" *ngIf="trainingCenterState$ | async as trainingCenter">
  <mat-spinner *ngIf="trainingCenter.loadingRefBlocks"></mat-spinner>
  <span *ngIf="trainingCenter.isloadingRefBlocksFailed">
    Grosse erreur des familles
  </span>
  <div>
    <div class="master-panel">
      <trm-refblock-list-item
        *ngFor="let block of trainingCenter.refBlocks"
        [refBlock]="block"
      ></trm-refblock-list-item>
    </div>
    <div class="detail-panel">
      <trm-refblock-detail
        [refBlock]="trainingCenter.refBlocks[0]"
      ></trm-refblock-detail>
    </div>
  </div>
</div>
