<mat-toolbar>
  <mat-toolbar-row>
    <div class="align-right">
      Training Center > Courses
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content" *ngIf="trainingCenterState$ | async as trainingCenter">
  <mat-spinner *ngIf="trainingCenter.loadingRefBlocks"></mat-spinner>
  <span *ngIf="trainingCenter.isloadingRefBlocksFailed">
    Grosse erreur des familles
  </span>
  <div>
    <div class="master-panel">
      <edx-refblock-list-item
        *ngFor="let block of trainingCenter.refBlocks"
        [refBlock]="block"
      ></edx-refblock-list-item>
    </div>
    <div class="detail-panel">
      <edx-refblock-detail
        *ngIf="trainingCenter.selectedRefBlock; else emptySelection"
        [refBlock]="trainingCenter.selectedRefBlock"
      ></edx-refblock-detail>
      <ng-template #emptySelection>
        <div class="empty-selection">
          <h2 class="mat-h2">
            Sélectionnez un élement pour consulter son détail
          </h2>
        </div>
      </ng-template>
    </div>
  </div>
</div>
