@import '~@angular/material/theming';

@include mat-core();

$custom-blue: (
  default: #1f88e5,
  lighter: #5887ee,
  darker: #00338a,
  contrast: (
    default: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text
  )
);

$custom-orange: (
  default: #fe5815,
  lighter: #ff8b47,
  darker: #c31f00,
  contrast: (
    default: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text
  )
);

$trm-primary: mat-palette($custom-blue, default, lighter, darker);
$trm-accent: mat-palette($custom-orange, default, lighter, darker);

$theme: mat-light-theme($trm-primary, $trm-accent);

$primary: map-get($theme, primary);

.trm-light {
  $vars: (
    background: #eef4f8,
    icon: #111111,
    ackground-spinner: #eef4f8
  );

  @include angular-material-theme($theme);

  .loading {
    display: flex;
    justify-content: center;
    background-color: map-get($vars, background-spinner);
    padding-top: 25px;
    padding-bottom: 30px;
  }

  mat-toolbar {
    &.mat-toolbar {
      background: #fff;
      color: rgba(0, 0, 0, 0.87);
    }
    &.top-bar {
      position: relative;
      z-index: 2;
    }
    .align-right {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
    .navbar-logo {
      display: flex;
      align-items: center;
      width: 225px;
      font-size: 16px;
      img {
        margin-right: 6px;
      }
    }
  }

  mat-sidenav {
    width: 240px;
  }
  .mat-drawer {
    background-color: #fff;
  }
  .mat-drawer-container {
    background-color: map-get($vars, background);
  }
  .page-wrapper {
    height: calc(100vh - 64px);
  }

  .mat-expansion-panel {
    &.no-box-shadow {
      box-shadow: none;
    }

    &.mat-expanded {
      background-color: map-get($vars, background);
    }
    .mat-expansion-panel-header-title {
      align-items: center;

      mat-icon {
        margin-right: 7px;
      }
    }
    .mat-expansion-panel-body {
      padding: 0;
    }

    mat-nav-list {
      .mat-list-item.active-link {
        color: mat-color($primary);
      }
    }
  }
}
